<div class="player-search-container">
    <!-- Platform Dropdown Selection -->
    <div class="platform-dropdown-container">

        <div class="platform-dropdown-button">{{platform}}</div>

        <div class="platform-dropdown-content" id="platform-dropdown-content">
            <div class="platform-dropdown-item" *ngFor="let platform of allPlatforms" (click)="selectPlatform(platform)">
                {{platform}}
            </div>
        </div>
    </div>

    <!-- Player Search Bar -->
    <input class="search-bar" [(ngModel)]="playerSearchName" type="text" placeholder="Username">

    <!-- Search Button -->
    <div class="search-button" (click)="searchForPlayer()">Search</div>

    <!-- Error Notification -->
    <div class="error-container" *ngIf="errored">
        <div class="error-icon">&#9640;</div>
        <div class="error-items">
            <div class="error-item" *ngFor="let error of errors">{{error}}</div>
        </div>
    </div>
</div>

<div *ngFor="let user of users">{{user}}</div>